.qna_header {
    display: flex;
}

.answer li span {
    white-space: pre-line;
}

.answer {
    display: none;
}

.qna_header li:hover .answer {
    display: block;
}

.qna_header {
    background-color: aliceblue;
    border-color: yellow;

}

.qna_header {
    display: inline-block;
}


