main * {
    text-align: center;
}

/* ===== 상단 카테고리, 정렬 영역 시작 ===== */

main .title a {
    margin: 0 30px;
    padding: 3px;
}

main .title a:hover {
    border-bottom: 5px solid #ffa900;
}


/* ===== 게시글 영역 시작 ===== */
main .content_wrap {
    padding: 0 20px;
}

main table {
    border-collapse: collapse;
}

tr {
    background-color: white;
}

main table th,
td {
    padding: 10px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

main table tbody td img {
    width: 200px;
    height: 200px;
}

main table tbody td h4 {
    font-size: 1.5em;
    line-height: 2em;
}

main table tbody td p {
    white-space: pre-line;
}


table {
    width: 100%;
}

main table tbody tr:hover {
    background-color: #f2f2f2;
}


/* ===== 페이지 이동 ===== */

main .page_shift {
    padding: 50px;
}

main .page_shift a {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    font-size: 1.2em;
    border: #ffa900 1px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    margin: 0 5px;
}

main .page_shift a:hover {
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
}

main .page_shift a[href="#"] {
    border: #ff9100 3px solid;
    font-weight: bold;
}