main * {
    text-align: center;
}

.item_sort_wrap,
.content_wrap,
.page_shift {
    background-color: white;
}

/* ===== 상단 카테고리, 정렬 영역 시작 ===== */

main .item_sort * {
    display: inline-block;
}

main .cate_wrap,
main .item_sort_wrap {
    padding: 15px;
}

.cate_wrap {
    margin: 50px 0;
}

.item_sort_wrap {
    border-top: #ffa900 1px solid;
    border-bottom: #ffa900 1px solid;
}

main .item_sort li,
main .item_sort p {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-weight: bold;
    background-color: #fffbee;
    color: rgb(70, 70, 70);
    border: rgb(70, 70, 70) 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

main .item_sort ul,
main .item_sort p {
    position: relative;
    right: 34%;
}

main .item_sort p {
    left: 34%;
}


/* ===== 상품 목록 영역 시작 ===== */

main .content_wrap {
    padding: 20px;
}

main .content_wrap li {
    display: inline-block;
    margin: 30px 20px;
}

main .normal_item {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    padding: 10px;
    vertical-align: middle;
    position: relative;
}

main .normal_item img {
    box-sizing: border-box;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

main .normal_item img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 25px;
    opacity: 0;
    transition: opacity 0.5s linear;
}

main .normal_item:hover img:nth-child(2) {
    opacity: 1;
}

main .item_info_wrap h3 {
    margin: 5px 0;
}

main .item_info_wrap .sale_info {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

main .item_info_wrap .normal_pr {
    color: gray;
    text-decoration: line-through;
}

main .item_info_wrap .present_pr {
    font-weight: bold;
}

/* ===== 상품 목록 영역 끝 ===== */


/* ===== 페이지 이동 ===== */

main .page_shift {
    padding-bottom: 50px;
}

main .page_shift a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 1.2em;
    border: #ffa900 1px solid;
    border-radius: 10px;
    margin: 0 5px;
}

main .page_shift a:hover {
    text-decoration: underline;
}

main .page_shift a[href="#"] {
    border: #ff9100 3px solid;
    font-weight: bold;
}