
/*========================================= common =========================================*/

main {
    min-width: 1200px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

section {
    width: 100%;
    margin: 0 auto;
}

section section {
    /* 높이 확인을 위해 설정해둠 나중에 수정 */
    /* height: 500px; */
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

/*========================================= nav =========================================*/

section>section>nav {
    display: inline-block;
    width: 100%;
}

section>section>nav>ul {
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    display: flex;
}

section>section>nav>ul>li {
    width: 25%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.fixed_nav>ul>li:hover,
section>section>nav>ul>li:hover,
input[type="button"]:hover {
    transition: .5s;
    background-color: #ffe344;
}

section>#section1>nav>ul>li:nth-child(1) {
    background-color: #ffe344;
}

section>#section2>nav>ul>li:nth-child(2) {
    background-color: #ffe344;
}

section>#section3>nav>ul>li:nth-child(3) {
    background-color: #ffe344;
}
section>#section4>nav>ul>li:nth-child(4) {
    background-color: #ffe344;
}

.fixed_nav {
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 1em;
    /* top: 50%; */
    bottom: 10%;
    z-index: 1;
    /* transform: translateY(-50%); */
}

.fixed_nav>ul>li {
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #ffa900;
    ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*========================================= toparea =========================================*/

.top_area {
    display: flex;
}

section .img_area,
section .info_area {
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}

section .img_area>div {
    padding: 1em;
}

.main_img>img {
    width: 500px;
    height: 500px;
    display: inline-block;
    border: 1px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: bisque;
}

.sub_img>img {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: bisque;
}

.info_area table {
    width: 100%;
    /* display: inline-block; */
    padding: 0 10px;
}

.info_area table tr,
.info_area table tr td {
    /* vertical-align: baseline; */
    height: 100px;
    width: 80%;
}

.sale_info {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.normal_pr {
    color: gray;
    text-decoration: line-through;
}

.present_pr {
    font-weight: bold;
}

/*========================================= 상품상세정보 =========================================*/

.section button {
    border: none;
}

#section1>h3 {
    padding-top: 3em;
}

.Product_info {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #ffa900;
    border-radius: 10px;
}

.Product_info>tr>th{
    width: 50%;
}

.Product_info>tr>td {
    width: 50%;
}

/*========================================= 상품구매안내 =========================================*/

.purchase_info {
    text-align: left;
    
}

.purchase_info h3 {
    text-align: center;
    padding: 1em;
}

.purchase_info h4 {
    text-align: center;
}

.purchase_left {
    float: left;
    width: 50%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1em;
}

.purchase_info .purchase_left div:nth-child(1),
.purchase_info .purchase_left div:nth-child(2) {
    border-bottom: 1px dashed #ddd;
}

.purchase_info .purchase_left div:nth-child(1),
.purchase_info .purchase_left div:nth-child(2),
.purchase_info .purchase_left div:nth-child(3) {
    height: calc(100%/3);
}

.purchase_info .purchase_right {
    width: 50%;
    float: right;
}

.purchase_info .purchase_right div {
    padding: 1em;
}

select[id="option"] {
    margin: 3em auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

input[type="button"] {
    width: 100%;
    margin: 1em 0;
    padding: 10px 0;
    border: 1px solid #ffa900;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffa900;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

/*========================================= 상품사용후기 =========================================*/



/*========================================= 상품 Q & A =========================================*/

#section4 div {
    padding: 10em;
}

#section4 input[type="button"] {
    width: 80%;
    margin-bottom: 3em;
}