main {
    min-width: 1200px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

section {
    width: 100%;
    margin: 0 auto;
}

.top_area {
    display: flex;
    justify-content: ;
}

section .img_area,
section .info_area {
    padding: 1em;
    width: 50%;
    margin: 0 auto;
}

section .img_area>div {
    padding: 1em;
}

section section {
    /* 높이는 확인을 위해 설정해둠 나중에 수정 */
    /* height: 500px; */
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

section>section>nav{
    display: inline-block;
    width: 100%;
}

section>section>nav>ul {
    width: 80%;
    margin: 1em auto;
    border-radius: 10px;
    display: flex;
}

section>section>nav>ul>li {
    width: 25%;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.fixed_nav {
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 1em;
    /* top: 50%; */
    bottom: 10%;
    z-index: 1;
    /* transform: translateY(-50%); */
}
.fixed_nav>ul>li {
    margin: 1em;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #ffa900;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main_img>img {
    width: 500px;
    height: 500px;
    display: inline-block;
    border: 1px solid #ffa900;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: bisque;
}

.sub_img>img {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ffa900;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: bisque;
}
