main * {
    text-align: center;
}

.item_sort_wrap,
.content_wrap {
    background-color: white;
}


/* ===== 상단 카테고리, 정렬 영역 시작 ===== */

main .sort * {
    display: inline-block;
}

main .sort_wrap {
    padding: 15px;
    border-top: #ffa900 1px solid;
    border-bottom: #ffa900 1px solid;
}

main .sort {
    display: flex;
    justify-content: space-between;
}

main .sort li,
main .sort p {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    background-color: #fffbee;
    border: rgb(70, 70, 70) 1px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);

    padding: 0 5px;
    cursor: pointer;
}


/* ===== 상품 목록 영역 시작 ===== */

main .content_wrap {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

main .content_wrap ul {
    display: flex;
    flex-wrap: wrap;
}

main .content_wrap li {
    flex: 0 0 25%;
    margin: 40px 0;
}

main .content_wrap li a {
    display: block;
    margin: 0 40px;
}

main .normal_item {
    position: relative;
}

main .normal_item img {
    width: 100%;
    border-radius: 10px;
}

main .normal_item img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
}

main .normal_item:hover img:nth-child(2) {
    opacity: 1;
}

main .item_info_wrap h3 {
    margin: 15px 0 5px;
}

main .item_info_wrap .sale_info {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

main .item_info_wrap .normal_pr {
    color: gray;
    text-decoration: line-through;
}

main .item_info_wrap .present_pr {
    font-weight: bold;
}

/* ===== 상품 목록 영역 끝 ===== */


/* ===== 페이지 이동 ===== */

main .page_shift {
    padding: 50px;
}

main .page_shift a {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    font-size: 1.2em;
    border: #ffa900 1px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    margin: 0 5px;
}

main .page_shift a:hover {
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
}

main .page_shift a[href="#"] {
    border: #ff9100 3px solid;
    font-weight: bold;
}