/*========================================================================*/
/*header*/
header {
    padding: 10px;
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
    margin: 0 auto;
}

header * {
    white-space: nowrap;
}

.logo {
    width: 150px;
}

header nav {
    margin-top: 15px;
    /* text-align: center; */
}

/* 메뉴 리스트 */
.menu_list {
    list-style: none;
    text-align: right;
    margin: 12px 0;
}

.menu_list li {
    display: inline-block;
    margin-right: 20px;
}

.menu_list a {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.menu_list img {
    width: 16px;
    height: 16px;
}

.menu_list a:hover {
    text-decoration: underline;
}

/* gnb 리스트 */
.gnb_list {
    list-style-type: none;
    display: block;
    padding: 0;
    text-align: center;
    background-color: #ffe344;
    border-radius: 10px;
    margin-bottom: 0;
}

.gnb_list li {
    display: inline-block;
    margin: 5px 60px;
    line-height: 70px;
}

.gnb_list a {
    width: 120px;
    line-height: 50px;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(38, 39, 132);
    font-weight: bold;
}

.gnb_list img {
    vertical-align: middle;
    width: 40px;
}

.gnb_list li:hover>a {
    font-size: 18px;
}