:root {
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
    outline: none;
}

.checking {
    color: #ffa900;
    font-weight: bold;
}

input[type=button] {
    width: 100px;
    height: 50px;
    background-color: #ffe344;
    border: none;
    color: #ffa900;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}