main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #929292;
    height: 70vh;
    border-radius: 8px;
    margin-top: 50px;
}

main .left_contents {
    float: left;
    width: 23%;
    margin-top: 100px;
    height: 350px;
    padding: 50px;
    display: block;
    border-right: 1px solid #929292;
    text-align: center;
}

/* 
main .left_contents ul>li.checking {
    color: #929292;
    font-size: 18px;
    line-height: 50px;
} */

main .left_contents ul>li {
    color: #999;
    font-size: 20px;
    line-height: 100px;
    cursor: pointer;
}

main .right_contents {
    float: right;
    width: 58%;
    min-width: 500px;
    height: 500px;
    padding: 50px;
    margin-top: 50px;
}

main .right_contents figure figcaption {
    font-size: 26px;
    line-height: 50px;
    color: #ffa900;
    font-weight: bold;
    margin-bottom: 30px;
}

main .right_contents figure table {
    margin-bottom: 50px;
}

main .right_contents figure table tr {
    padding: 5px 0 5px 0;
    width: 1000px;
    display: block;
}

main .right_contents figure table tr th {
    display: block;
    width: 100%;
}

main .right_contents figure table tr th label {
    font-size: 16px;
    color: #929292;
    width: 100%;
    height: 20px;
    padding: 10px 0 3px;
    display: block;
    text-align: left;
    font-weight: normal;
}

main .right_contents figure table tr td {
    display: block;
    width: 70%;
}

main .right_contents table tr td input,
main .right_contents table tr td select {
    font-size: 16px;
    color: #929292;
    width: 80%;
    outline: none;
    padding: 7px;
}

main .right_contents table tr td .user_email,
main .right_contents table tr td .domain_list {
    width: 40%;
    display: inline-block;
}

main .right_contents table tr .user_birth select {
    width: 27%;
    display: inline-block;
}

/* main .right_contents table tr td .domain-list {
    padding: 7px;
    height: 37px;
} */

input[type=button] {
    width: 100px;
    height: 50px;
    background-color: #ffe344;
    border: none;
    color: #ffa900;
    border-radius: 8px;
    cursor: pointer;
    float: right;
}