main {
    box-sizing: border-box;
    margin: 50px auto;
    background-color: #fff;
    height: 650px;
    padding: 0 50px;
    border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==================================================================*/
/* main layout */
main .img_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .right_contents {
    width: 50%;
    margin-top: 50px;
}


/*==================================================================*/
/* 회원가입 순서 header */

main .right_contents figure {
    height: 450px;
}

main .right_contents figure ul {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    margin-bottom: 50px;
}

main .right_contents figure ul>li a:hover {
    color: #ffa900;
}

main .right_contents figure ul>li:not(:last-child)::after {
    content: "　>　";
}


/*==================================================================*/
/* 회원가입 공통 스타일 */
.required::before {
    content: "* ";
    color: red;
    line-height: ;
}

main .right_contents figure figcaption {
    font-size: 26px;
    line-height: 50px;
    color: #ffa900;
    font-weight: bold;
    margin-bottom: 15px;
}

main .right_contents figure table {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .right_contents figure table tr {
    padding: 5px 0 5px 0;
    width: 600px;
    display: block;
}

main .right_contents figure table tr th {
    display: flex;
    justify-content: start;
    width: 100%;
}

main .right_contents figure table tr th label {
    font-size: 16px;
    color: #929292;
    width: 100%;
    height: 20px;
    padding: 10px 0 5px;
    text-align: left;
    font-weight: normal;
    line-height: 28px;
}

main .right_contents figure table tr td {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .right_contents table tr td input,
main .right_contents table tr td select {
    font-size: 16px;
    color: #929292;
    width: 100%;
    max-width: 700px;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #929292;
}

main .right_contents input[type=submit] {
    width: 100px;
    height: 50px;
    border: none;
    border: 1px solid #ffa900;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    float: right;

}

main .right_contents input[type=submit]:hover {
    transition: .5s;
    background-color: #ffe344;
}


/*==================================================================*/
/* profile */

main .right_contents table tr td .user_email,
main .right_contents table tr td .domain_list {
    width: 48.5%;
}

main .right_contents table tr .user_birth select {
    width: 33%;
}

/*==================================================================*/
/* information */
main .right_contents table tr .ani_bday {
    float: left;
    white-space: nowrap;
    margin: 10px 0;
}

main .right_contents table tr .ani_bday input:nth-child(2) {
    margin-left: 50px;
}

main .right_contents table tr .ani_gender input[type=radio] {
    width: 20px;
}

main .right_contents table tr .ani_gender label {
    width: 20px;
    white-space: nowrap;
    flex-grow: 10;
}

/*==================================================================*/
/* agree */
main .right_contents table tr .agree_all,
main .right_contents table tr .agree_selection {
    margin-bottom: 20px;
}

main .right_contents table tr .agree_all input[type=checkbox],
main .right_contents table tr .agree_selection input[type=checkbox] {
    margin-top: 12px;
    margin-right: 10px;
}

main .right_contents table tr .agree_text {
    width: 100%;
    height: 120px;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 5px;
}

main .right_contents table tr .agree_text::-webkit-scrollbar,
main .right_contents table tr .agree_all::-webkit-scrollbar {
    width: 6px;
}

main .right_contents table tr .agree_text::-webkit-scrollbar-thumb,
main .right_contents table tr .agree_all::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

main .right_contents table tr .agree_text::-webkit-scrollbar-track,
main .right_contents table tr .agree_all::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 8px;
}