body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 400px;
    line-height: 30px;
    margin: 0 auto;
    padding: 50px;
    background-color: #e9d0b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
  }

  .container h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #b0a1a1;
  }

  .container input[type="submit"] {
    background-color: #ecef17;
    color: #474342;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }

  .container input[type="submit"]:hover {
    background-color: #f48609;
  }

  /* div p {
    display: inline-block;
    text-align: center;
  } */