main {
  box-sizing: border-box;
  margin: 50px auto;
  background-color: #fff;
  height: 650px;
  border-top: 2px solid #ffa900;
  border-bottom: 2px solid #ffa900;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .img_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .img_container img {
  /* width: 750px;
  height: 641px; */
  box-sizing: border-box;
}

main .login_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .login_container .login_box {
  border-radius: 5px;
  line-height: 30px;
}

main .login_container .login_box h2 {
  text-align: center;
  margin-bottom: 30px;
}


main .login_container .login_box input[type="text"],
main .login_container .login_box input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #b0a1a1;
}

main .login_container .login_box input[type="password"] {
  margin: 0;
}

main .login_container .login_box input[type="submit"] {
  border: 1px solid #ffa900;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 55px;
}

main .login_container .login_box input[type="submit"]:hover {
  transition: .5s;
  background-color: #ffe344;
}

main .login_container .login_box .idpwfind {
  float: right;
  line-height: 30px;
  color: #b0a1a1;
}

main .login_container .login_box .idpwfind a {
  color: #b0a1a1;
}

main .login_container .login_box .idpwfind a:hover {
  text-decoration: underline;
}