/* ===== 메인 시작 ===== */
main {
    background-color: white;
}


/* ===== 상단 슬라이드 배너 영역 시작 ===== */
main .banner_wrap {
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}

main .banner {
    position: relative;
    height: 100%;
}

main .banner img {
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .banner span,
.promotion span {
    position: absolute;
    top: 35%;
    cursor: pointer;
}

main .arrow_left {
    left: 10px
}

main .arrow_right {
    right: 10px
}

main .banner span img,
.promotion span img {
    width: 80px;
    height: 80px;
}

/* ===== 상단 슬라이드 배너 영역 끝 ===== */



/* ===== 베스트셀러 영역 시작 ===== */
/* 베스트셀러 카테고리 목록 */
main .bestseller_wrap {
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

main .bestseller_wrap h1 {
    color: rgb(255, 111, 0);
}

main .bestseller {
    margin: 50px auto;
    width: 1200px;
    height: 300px;
    /* background-color: rgb(91, 103, 215); */
    padding: 20px;
}

main .bestseller_list {
    margin-top: 30px;
}

main .bestseller_list h2 {
    display: inline-block;
    font-size: 18px;
    background-color: lemonchiffon;
    width: 130px;
    line-height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

/* 베스트셀러 상품 목록 */

main .bestseller_item {
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    margin: 10px auto;
    padding: 10px;
    vertical-align: middle;
}

main .bestseller_item img {
    box-sizing: border-box;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

main .bestseller_item:hover img {
    border: solid 2px #ffa900;
    animation-name: item_hover;
    animation-duration: 1.5s;
}

@keyframes item_hover {
    from {
        border-color: white;
    }

    to {
        border-color: #ffa900;
    }
}

main .bestseller_item h3 {
    margin: 5px 0;
}

main .bestseller_item .sale_info {
    color: red;
    font-weight: bold;
}

main .bestseller_item .normal_pr {
    color: gray;
    text-decoration: line-through;
}

main .bestseller_item .present_pr {
    font-weight: bold;
}

/* ===== 베스트 셀러 영역 끝 ===== */



/* ===== 하단 슬라이드 배너 영역 시작 ===== */
/* 사용자 후기 */
main .promotion_wrap {
    margin: 20px 0;
    padding: 50px;
    height: 400px;
    /* background-color: lightgreen; */
    text-align: center;
}

.promotion {
    height: 100%;
    position: relative;
}

main .promotion1 img:nth-of-type(1) {
    width: 600px;
    position: absolute;
    left: 200px;
    top: 100px;
    animation-name: left_to_right;
}

main .promotion1 img:nth-of-type(2) {
    position: absolute;
    width: 250px;
    right: 200px;
    top: 30px;
    animation-name: right_to_left;
}

main .promotion:hover .promotion1 img {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes left_to_right {
    from {
        margin-left: -30px;
    }

    to {
        margin-right: 80px;
    }
}

@keyframes right_to_left {
    from {
        margin-right: -30px;
    }

    to {
        margin-left: 80px;
    }
}

/* ===== 하단 슬라이드 배너 영역 끝 ===== */


/* ===== 동영상 영역 시작 ===== */
main .video_wrap {
    height: 400px;
    text-align: center;
    padding: 50px;
    /* background-color: lightpink; */
}

main .video {
    display: inline-block;
    margin: 50px auto;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
}

/* ===== 동영상 영역 끝 ===== */


/* ===== footer 시작 ====== */
footer .footer_wrap {
    box-sizing: border-box;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

footer .ft_info1,
footer .ft_info2 {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 200px;
    /* background-color: #ffffff; */
}

footer p {
    white-space: pre-line;
}

/* ===== footer info 1 시작 ===== */
footer .ft_info1 {
    left: 5%;
    text-align: left;
}

footer .ft_info1 h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

footer .ft_info1 span,
footer .ft_info1 p {
    color: rgb(95, 95, 95);
    margin: 5px;
}

footer .ft_info1 p {
    margin: 20px auto;
    font-size: 14px;
}

footer .ft_info1 span {
    font-weight: bold;
}

/* ===== footer info 2 시작 ===== */
footer .ft_info2 {
    right: 5%;
}

footer .ft_info2 p {
    color: rgb(95, 95, 95)
}

footer .ft_info2 ul {
    margin: 40px auto;
}

footer .ft_info2 ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

/* ft copy 영역 시작 */
footer .ft_copy {
    padding: 100px 0 50px;
}

footer .ft_copy img {
    width: 80px;
}

/* ===== footer 끝 ===== */