/* common */
.fs14 {
    font-size: 14px;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

/* layout */

.title {
    color: black;
}

h2 {
    color: #ffa900;
    margin: 1em;
}

form {
    max-width: 1500px;
    min-width: 1200px;
    margin: 50px auto;
    padding: 3em;
    border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th {
    width: 150px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
select[id="payment-method"] {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;

}

input[type="tel"] {
    width: 27%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #ffa900;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ffa900;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

input[type="submit"]:hover {
    transition: .5s;
    background-color: #ffe344;
}

.button {
    display: flex;
    width: 100%;
    justify-content: right;
}

/*====================================================================== 배송지정보 ====================================================================== */

table {
    margin-bottom: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.address_input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .5fr;
    grid-template-areas: "a b""c b";
}

.address_input {
    width: 100%;
    grid-area: a;
}

.pass_input {
    grid-area: c;
}

.img_area {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: b;
    /* background: url(https://i.pinimg.com/564x/3e/69/a2/3e69a233987b3b5b7bc27f47dd0a2267.jpg) 0/100% 100%; */
}

/*====================================================================== 주문상품 ====================================================================== */

.thumb>img {
    width: 120px;
}

.desc {
    padding: 10px;
    text-align: center;
}


.sale_info {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.normal_pr {
    color: gray;
    text-decoration: line-through;
}

.present_pr {
    font-weight: bold;
}

/*====================================================================== 약관동의 ====================================================================== */

.checkbox-wrapper input[type=checkbox],
.checkbox-wrapper input[type=checkbox] {
    margin-top: 12px;
    margin-right: 10px;
}

form section div p {
    width: 100%;
    height: 120px;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 5px;
}

.content p::-webkit-scrollbar,
.checkbox-wrapper::-webkit-scrollbar {
    width: 6px;
}

.content p::-webkit-scrollbar-thumb,
.checkbox-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

.content p::-webkit-scrollbar-track,
.checkbox-wrapper::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 8px;
}